<%- include('../header.ejs') %>
<br><br>
<br><br>
<br><br>

    <h1 class=mt-5>All Course Display</h1>
    <div class="container mt-5">
        <table class="table table-bordered">
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Status</th>
                <th>Comment</th>
                <th></th>
                <th>Action</th>
            </tr>
            <% i=1 %>
                <% d.forEach((item)=>{ %>
                    <tr>
                        <td>
                            <%= i++ %>
                        </td>
                        <td>
                            <%= item.name %>
                        </td>
                        <td>
                            <%= item.email %>
                        </td>
                        <td>
                            <%= item.phone %>
                        </td>
                        <td>
                            <%= item.status %>
                        </td>
                        <td>
                            <%= item.comment %>
                        </td>
                        <td>
                            <form action="/updatestatus/<%= item._id %>" method="post">
                                <textarea name="comment"></textarea>
                                <input type="hidden" name="email" value="<%= item.email %>">
                                <input type="hidden" name="name" value="<%= item.name %>">
                                <input type="hidden" name="course" value="<%= item.course %>">

                        </td>
                        <td>
                            <button type="submit" name="status" value="Approved"
                                class="btn btn-success">Approve</button>
                            <button type="submit" name="status" value="Reject" class="btn btn-danger">Reject</button>

                            </form>
                        </td>
                        <td>
                            <a href="/admin/Course/view/<%= item._id %>" class="btn btn-info">View</a>
                            <!-- <a href="/edit/<%= item._id %>" class="btn btn-success" >Edit</a> -->
                            <a href="/admin/Course/delete/<%= item._id %>" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    <% })%>
        </table>
    </div>
    <%- include('../footer.ejs') %>