<%- include('./header.ejs')%>
<br><br>
<br><br>

<h1 style="margin-left: 20px;">My Profile</h1>
<center>
  <div class="m-contain">
<div class="pro">
  <div class="pro-img">
    <img src="<%= i.url %>" alt="profile-img" width="50%" class="img-fluid">
  </div>
  <div class="u-details"> <div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th><%= n %></th>
        </tr>
        <tr>
          <th>Email</th>
          <th><%= e %></th>
        </tr>
    </table>
</div>
</div>
</div>
<div class="change-btn">
<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cpassword">Change Password</button>
<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uprofile">Update Profile</button>   
</div>
</div>
</center>


<% if(message.length>0){%>
    <div class="alert alert-danger">
    <%= message %>
    </div>
<% } %>

<% if(message2.length>0){%>
    <div class="alert alert-success">
    <%= message2 %>
    </div>
<% } %>


<!-- Change Password -->
<div class="modal fade" id="cpassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Change Password</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/changepassword" method="post">
            <div class="mb-3">
              <label>Old Password</label>
              <input type="password" name="oldpassword" class="form-control">
            </div>
  
            <div class="mb-3">
              <label>New Password</label>
              <input type="password" name="newpassword" class="form-control">
            </div>

            <div class="mb-3">
                <label>Confirm Password</label>
                <input type="password" name="cpassword" class="form-control">
              </div>

            <button type="submit" class="btn btn-success">Change Password</button>
 
          </form>
        </div>
        
      </div>
    </div>
  </div>

<!-- update profile -->
<div class="modal fade" id="uprofile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update Profile</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/updateprofile" method="post" enctype="multipart/form-data">
            <div class="mb-3">
              <label>Name</label>
              <input type="text" name="name" class="form-control" required>
            </div>
  
            <!-- <div class="mb-3">
              <label>Email</label>
              <input type="email" value="<%= e %>" name="email" class="form-control" readonly>
            </div> -->

            <div class="mb-3">
                <label>Profile Image</label>
                <input type="file" name="image" class="form-control">
                <img src="<%= i.url %>" alt="" width="50px">
              </div>
            <button type="submit" class="btn btn-success">Update Profile</button>
          </form>
        </div>    
      </div>
    </div>
  </div>

<%- include('./footer.ejs')  %>
