<%- include('../header.ejs')  %>
<br>
<br>

<h1 class=mt-5>Display Course</h1>
<div class="container mt-5" >
    <table class="table table-bordered">
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Status</th>
            <th>Comment</th>
            <th>Action</th>
        </tr>
        <% i=1 %>
        <% d.forEach((item)=>{ %>
            <tr>
                <td><%= i++ %></td> 
                <td><%= item.name %></td>
                <td><%= item.email %></td>
                <td><%= item.phone %></td>
                <td><%= item.status %></td>
                <td><%= item.comment %></td>

                <td>
                    <a href="/view/<%= item._id %>" class="btn btn-info" >View</a>
                    <a href="/edit/<%= item._id %>" class="btn btn-success" >Edit</a>
                    <!-- <a href="/delete/<%= item.id %>" class="btn btn-danger" >Delete</a> -->
                </td>
            </tr>
       <% })%>
    </table>
</div>

<%- include('../footer.ejs')  %>
