<%- include('../header.ejs')  %>
<br>
<br>
<h1 class="mt-5">View Record</h1>
<div class="container" >
    <div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Tenth Marks</th>
            <th>Twelth Marks</th>
            <th>Course</th>
        </tr>
            <tr>
                <td><%= d._id %></td>
                <td><%= d.name %></td>
                <td><%= d.email %></td>
                <td><%= d.phone %></td>
                <td><%= d.tenth %></td>
                <td><%= d.twelth %></td>
                <td><%= d.course %></td>
            </tr>
    </table>
</div>
</div>
<%- include('../footer.ejs')  %>
